/* ================================================================================================ */
/* БЛОК ТЕГОВ И КАРКАСА */
/* По-умолчанию высота body равна высоте контента внутри него, 
поэтому мы задаем ему высоту 100% чтобы растянуть его на всю страницу. 
А чтобы body задать высоту 100%, нужно чтобы и у родителя, т.е. html, была высота 100%*/
html, body{
    height: 100%;
}
/* Настройки стиля заднего фона градиента всего BODY */
body{
    background-color: #0093d8;
    background-size: cover;
    background: rgb(218,218,218);
    background: linear-gradient(0deg, rgb(190, 190, 190) 0%, rgba(255,255,255,1) 85%);
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}
/* Описание стиля для всего блока Header */
.header{
    height: 150px;
    width: 100%;
    display: block;
    position: relative;
}
/* Стили для блока с основным содержимым */
.main-content{
    content: '';
    display: block;
    position: relative;
    width: 100%;
}
/* Настройки стиля для заголовка "С новым Годом" */
h1{
    color: #FAFAFA;
    font: bold 80px 'Comic Sans MS',Arial;
    text-align: center;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.85), 4px 4px 0 #CFEAED;
    text-transform: uppercase;
    user-select: none;
}
/* Описание стиля основной сцены сайта */
.scene{
    height: 666px;
    display: block;
    overflow: hidden;
    position: relative;
    max-width: 1380px;
    margin: auto;
    background: rgb(136,153,193);
    background: linear-gradient(0deg, rgba(136,153,193,1) 0%, rgba(80,77,122,1) 34%, rgba(43,55,90,1) 54%, rgba(0,0,0,1) 85%);
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
}
/* Аудиоплеер */
.audioplayer{
    display: block;
    position: relative;
    padding:  15px 0 15px 0;
    width: 1380px;
    margin: 0px auto;
}
.audioplayer audio{
    width: 100%;
}
/* Подвал */
.footer{
    height: 50px;
    width: 100%;
    display: block;
    position: relative;
    text-align: center;
    color: white;
    padding: 0 10px;
    margin: 0 auto;
    color: #808080;
}
/* ================================================================================================ */


/* ================================================================================================ */
/* БЛОК СНЕГОВИКА */
#snowman{
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 230px;
    right: 280px;
    position: absolute;
}
#snowman img{
    height: 100px;
    width: 100px;
    padding: 0px;
    margin: -50px;
    z-index: 7; 
}
#snowman .sm_head{
    z-index: 6;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    margin-bottom: -10px;
}
#snowman .sm_head .eyes{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 25px;
    position: relative;
    top: 15px;
}
#snowman .sm_head .eyes .l_eye{
    height: 8px;
    width: 8px;
    border-radius: 50%;
    margin: 10px;
    background-color: black;
}
#snowman .sm_head .eyes .r_eye{
    height: 8px;
    width: 8px;
    border-radius: 50%;
    margin: 10px;
    background-color: black;
}
#snowman .sm_head .carrot{
    width: 0;
    height: 0;
    position: relative;
    top: 10px;
    left: -11px;
    border-top: 2px solid transparent;
    border-right: 40px solid orange;
    border-bottom: 6px solid transparent;
}
#snowman .sm_head .mouth{
    position: relative;
    top: 3px;
    left: 22px;
    height: 19px;
    width: 7px;
    border-radius: 50px 0 0 50px;
    border-top: 5px solid #000;
    border-left: 5px solid #000;
    border-bottom: 5px solid #000;
    transform: rotate(-90deg);
}
#snowman .sm_body{
    z-index: 5;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    margin-bottom: -30px;
}
#snowman .sm_body .sm_body_buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90px;
    position: relative;
    top: 20px;
}
#snowman .sm_body .sm_body_buttons .sm_body_button{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: brown;
    margin-bottom: 10px;
}
#snowman .sm_legs{
    z-index: 4;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
/* ================================================================================================ */


/* ================================================================================================ */
/* БЛОК СНЕГА */
.bottom_snow_left{
    position: absolute;
    z-index: 5;
    background: #e2e2e2;
    border-radius: 1000px;
    width: 1000px;
    height: 1000px;
    top: 400px;
    right: 555px;
}
.bottom_snow_center{
    position: absolute;
    z-index: 4;
    background: #c4c4c4;
    border-radius: 1000px;
    width: 1000px;
    height: 1000px;
    top: 400px;
    left: 50%;
    right: auto;
    margin-left: -500px;
}
.bottom_snow_right{
    position: absolute;
    z-index: 5;
    background: #e2e2e2;
    border-radius: 1000px;
    width: 1000px;
    height: 1000px;
    top: 400px;
    left: 555px;
}
/* ================================================================================================ */


/* ================================================================================================ */
/* БЛОК ЕЛКИ FLEX */
.tree{
    position: relative;
    top: 85px;
    left: 335px;
}
.tree .tree_branches_trunk{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    height: 0;
    width: 0;
    position: absolute;
    top: -15px;
    border-radius: 30px;  /* угол кончиков веточек */
}
.tree .tree_branches_trunk .tree_trunk{
    z-index: 1;
    background: rgb(66, 18, 18);
    height: 340px;
    width: 20px;
    position: absolute;
    top: 20px;
}
.tree .tree_branches_trunk .tree_branche1{
    z-index: 2;
    margin-top: -5px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 40px solid rgb(0, 150, 0);
    border-radius: inherit;
    width: 0px;
}
.tree .tree_branches_trunk .tree_branche2{
    z-index: 3;
    margin-top: -5px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 30px solid rgb(0, 148, 0);
    border-radius: inherit;
    width: 20px
}
.tree .tree_branches_trunk .tree_branche3{
    z-index: 4;
    margin-top: -5px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 30px solid rgb(0, 146, 0);
    border-radius: inherit;
    width: 40px
}
.tree .tree_branches_trunk .tree_branche4{
    z-index: 5;
    margin-top: -5px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 30px solid rgb(0, 144, 0);
    border-radius: inherit;
    width: 60px
}
.tree .tree_branches_trunk .tree_branche5{
    z-index: 6;
    margin-top: -5px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 30px solid rgb(0, 142, 0);
    border-radius: inherit;
    width: 80px
}
.tree .tree_branches_trunk .tree_branche6{
    z-index: 7;
    margin-top: -5px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 28px solid rgb(0, 140, 0);
    border-radius: inherit;
    width: 100px
}
.tree .tree_branches_trunk .tree_branche7{
    z-index: 8;
    margin-top: -5px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 28px solid rgb(0, 138, 0);
    border-radius: inherit;
    width: 120px
}
.tree .tree_branches_trunk .tree_branche8{
    z-index: 9;
    margin-top: -5px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 28px solid rgb(0, 136, 0);
    border-radius: inherit;
    width: 140px
}
.tree .tree_branches_trunk .tree_branche9{
    z-index: 10;
    margin-top: -5px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 25px solid rgb(0, 134, 0);
    border-radius: inherit;
    width: 160px
}
.tree .tree_branches_trunk .tree_branche10{
    z-index: 11;
    margin-top: -5px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 25px solid rgb(0, 132, 0);
    border-radius: inherit;
    width: 180px
}
.tree .tree_branches_trunk .tree_branche11{
    z-index: 12;
    margin-top: -5px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 25px solid rgb(0, 130, 0);
    border-radius: inherit;
    width: 200px
}
.tree .tree_branches_trunk .tree_branche12{
    z-index: 13;
    margin-top: -5px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 25px solid rgb(0, 128, 0);
    border-radius: inherit;
    width: 220px;
}
.tree .tree_tinsels{
    z-index: 20;
    position: absolute;
    top: 20px;
    left: 30px;
    /* border-radius: 25px; */
}
.tree .tree_tinsels .tree_tinsel_top{
    z-index: inherit;
    position: absolute;
    border-left: 10px solid rgb(255, 255, 0);
    border-right: 10px solid rgb(255, 255, 0);
    border-bottom: 10px solid rgb(255, 255, 0);
    border-radius: 23px;
    height: 25px;
    width: 60px;
    top: 25px;
    left: -70px;
}
.tree .tree_tinsels .tree_tinsel_center1{
    z-index: inherit;
    position: absolute;
    border-left: 10px solid rgb(0, 255, 0);
    border-right: 10px solid rgb(0, 255, 0);
    border-bottom: 10px solid rgb(0, 255, 0);
    border-radius: 23px;
    height: 25px;
    width: 110px;
    top: 85px;
    left: -95px;
}
.tree .tree_tinsels .tree_tinsel_center2{
    z-index: inherit;
    position: absolute;
    border-left: 10px solid rgb(0, 0, 255);
    border-right: 10px solid rgb(0, 0, 255);
    border-bottom: 10px solid rgb(0, 0, 255);
    border-radius: 23px;
    height: 25px;
    width: 160px;
    top: 145px;
    left: -120px;
}
.tree .tree_tinsels .tree_tinsel_bottom{
    z-index: inherit;
    position: absolute;
    border-left: 10px solid rgb(140, 0, 255);
    border-right: 10px solid rgb(140, 0, 255);
    border-bottom: 10px solid rgb(140, 0, 255);
    border-radius: 23px;
    height: 25px;
    width: 210px;
    top: 195px;
    left: -145px;
}
/* ================================================================================================ */


/* ================================================================================================ */
/* БЛОК ПАДАЮЩЕГО СНЕГА */
.fall_snow{
    background-image: url('../img/snow1.png'), url('../img/snow2.png'), url('../img/snow3.png');
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    animation: snow 10s linear infinite;
}
@keyframes snow{
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
    100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
/* ================================================================================================ */
